{% extends 'base.html' %}

{% block content %}
    <h2>FAKULTAS KEGURUAN DAN ILMU PENDIDIKAN</h2>
    <h3>Terdiri dari:</h3>
    <p>Bimbingan dan Konseling, Pendidikan Bahasa Indonesia, Pendidikan Bahasa Inggris, Pendidikan Biologi, Pendidikan Fisika, Pendidikan Guru Pendidikan Anak Usia Dini, Pendidikan Guru Sekolah Dasar, Pendidikan Ilmu Pengetahuan Alam, Pendidikan Khusus, Pendidikan Kimia, Pendidikan Matematika, Pendidikan Non Formal, Pendidikan Pancasila dan Kewarganegaraan, Pendidikan Sejarah, Pendidikan Seni Pertunjukan, Pendidikan Sosiologi, Pendidikan Vokasional Teknik Elektro, Pendidikan Vokasional Teknik Mesin, serta Pendidikan Profesi Guru.</p>

{% endblock %}